.category-page {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.category-page .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1440px;
  height: 2332px;
  position: relative;
}

.category-page .frame {
  position: absolute;
  width: 1440px;
  height: 38px;
  top: 0;
  left: 0;
  background-color: #000000;
}

.category-page .sign-up-and-get {
  position: absolute;
  top: 8px;
  left: 544px;
  font-family: "Satoshi-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.category-page .text-wrapper {
  font-family: "Satoshi-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
}

.category-page .span {
  font-family: "Satoshi-Medium", Helvetica;
  font-weight: 500;
  text-decoration: underline;
}

.category-page .img {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 9px;
  left: 1320px;
}

.category-page .frame-2 {
  display: flex;
  width: 1240px;
  justify-content: center;
  gap: 40px;
  top: 62px;
  left: 100px;
  align-items: center;
  position: absolute;
}

.category-page .text-wrapper-2 {
  position: relative;
  width: fit-content;
  font-family: "Integral CF-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.category-page .frame-3 {
  display: inline-flex;
  align-items: center;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.category-page .frame-4 {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  position: relative;
  flex: 0 0 auto;
}

.category-page .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Satoshi-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.category-page .frame-5 {
  position: relative;
  width: 16px;
  height: 16px;
}

.category-page .frame-6 {
  flex: 1;
  flex-grow: 1;
  background-color: #efefef;
  display: flex;
  align-items: flex-start;
  gap: 12px;
  padding: 12px 16px;
  position: relative;
  border-radius: 62px;
  overflow: hidden;
}

.category-page .frame-7 {
  position: relative;
  width: 24px;
  height: 24px;
}

.category-page .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Satoshi-Regular", Helvetica;
  font-weight: 400;
  color: #00000066;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.category-page .frame-8 {
  position: relative;
  flex: 0 0 auto;
}

.category-page .frame-9 {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  position: absolute;
  top: 158px;
  left: 100px;
}

.category-page .text-wrapper-5 {
  position: relative;
  width: fit-content;
  font-family: "Satoshi-Regular", Helvetica;
  font-weight: 400;
  color: #00000099;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.category-page .frame-10 {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  position: absolute;
  top: 222px;
  left: 944px;
}

.category-page .sort-by-most-popular {
  position: relative;
  width: fit-content;
  font-family: "Satoshi-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.category-page .text-wrapper-6 {
  color: #00000099;
}

.category-page .text-wrapper-7 {
  font-family: "Satoshi-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
}

.category-page .line {
  position: absolute;
  width: 1240px;
  top: 133px;
  left: 100px;
  height: 1px;
  object-fit: cover;
}

.category-page .line-2 {
  position: absolute;
  width: 925px;
  top: 1590px;
  left: 415px;
  height: 1px;
  object-fit: cover;
}

.category-page .group {
  position: absolute;
  width: 1443px;
  height: 589px;
  top: 1731px;
  left: -1px;
}

.category-page .overlap-group {
  position: relative;
  width: 1441px;
  height: 589px;
}

.category-page .rectangle {
  position: absolute;
  width: 1441px;
  height: 499px;
  top: 90px;
  left: 0;
  background-color: #9b0d2f;
}

.category-page .line-3 {
  position: absolute;
  width: 1240px;
  top: 456px;
  left: 101px;
  height: 1px;
  object-fit: cover;
}

.category-page .frame-11 {
  display: flex;
  width: 1240px;
  align-items: center;
  justify-content: space-between;
  padding: 36px 64px;
  position: absolute;
  top: 0;
  left: 101px;
  background-color: #000000;
  border-radius: 20px;
  overflow: hidden;
}

.category-page .p {
  position: relative;
  width: 551px;
  height: 94px;
  font-family: "Integral CF-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 0;
  line-height: 45px;
}

.category-page .frame-12 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  position: relative;
  flex: 0 0 auto;
}

.category-page .frame-13 {
  width: 349px;
  flex: 0 0 auto;
  background-color: #ffffff;
  display: flex;
  align-items: flex-start;
  gap: 12px;
  padding: 12px 16px;
  position: relative;
  border-radius: 62px;
  overflow: hidden;
}

.category-page .div-wrapper {
  width: 349px;
  padding: 12px 16px;
  flex: 0 0 auto;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  position: relative;
  border-radius: 62px;
  overflow: hidden;
}

.category-page .text-wrapper-8 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Satoshi-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.category-page .frame-14 {
  display: flex;
  width: 1240px;
  align-items: flex-start;
  justify-content: space-between;
  position: absolute;
  top: 230px;
  left: 101px;
}

.category-page .frame-15 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 35px;
  position: relative;
  flex: 0 0 auto;
}

.category-page .frame-16 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  position: relative;
  flex: 0 0 auto;
}

.category-page .text-wrapper-9 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Integral CF-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 33.5px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.category-page .text-wrapper-10 {
  position: relative;
  width: 248px;
  font-family: "Satoshi-Regular", Helvetica;
  font-weight: 400;
  color: #00000099;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 22px;
}

.category-page .social {
  position: relative;
  width: 148px;
  height: 28px;
}

.category-page .element {
  position: absolute;
  width: 28px;
  height: 28px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 14px;
  border: 1px solid;
  border-color: #00000033;
}

.category-page .logo-twitter {
  position: absolute;
  width: 11px;
  height: 9px;
  top: 9px;
  left: 8px;
}

.category-page .logo-fb-simple-wrapper {
  position: absolute;
  width: 28px;
  height: 28px;
  top: 0;
  left: 40px;
  background-color: #000000;
  border-radius: 14px;
}

.category-page .logo-fb-simple {
  position: absolute;
  width: 6px;
  height: 12px;
  top: 8px;
  left: 11px;
}

.category-page .logo-instagram-wrapper {
  position: absolute;
  width: 28px;
  height: 28px;
  top: 0;
  left: 80px;
  background-color: #ffffff;
  border-radius: 14px;
  border: 1px solid;
  border-color: #00000033;
}

.category-page .logo-instagram {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 6px;
  left: 6px;
}

.category-page .logo-github-wrapper {
  position: absolute;
  width: 28px;
  height: 28px;
  top: 0;
  left: 120px;
  background-color: #ffffff;
  border-radius: 14px;
  border: 1px solid;
  border-color: #00000033;
}

.category-page .logo-github {
  position: absolute;
  width: 13px;
  height: 13px;
  top: 6px;
  left: 7px;
}

.category-page .frame-17 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 26px;
  position: relative;
  flex: 0 0 auto;
}

.category-page .HELP-MENU {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Satoshi-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  letter-spacing: 3px;
  line-height: 18px;
  white-space: nowrap;
}

.category-page .about-features-works {
  position: relative;
  width: fit-content;
  font-family: "Satoshi-Regular", Helvetica;
  font-weight: 400;
  color: #00000099;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 19px;
}

.category-page .about-features-works-2 {
  position: relative;
  width: 149px;
  font-family: "Satoshi-Regular", Helvetica;
  font-weight: 400;
  color: #00000099;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 19px;
}

.category-page .frame-18 {
  position: absolute;
  width: 299px;
  height: 48px;
  top: 472px;
  left: 1051px;
}

.category-page .element-all-rights {
  position: absolute;
  top: 482px;
  left: 101px;
  font-family: "Satoshi-Regular", Helvetica;
  font-weight: 400;
  color: #00000099;
  font-size: 14px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.category-page .frame-19 {
  display: flex;
  flex-direction: column;
  width: 295px;
  height: 500px;
  align-items: flex-start;
  gap: 24px;
  padding: 20px 24px;
  position: absolute;
  top: 204px;
  left: 100px;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid;
  border-color: #0000001a;
}

.category-page .frame-20 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.category-page .text-wrapper-11 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Satoshi-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.category-page .line-4 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 1px;
  object-fit: cover;
}

.category-page .frame-21 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.category-page .group-2 {
  position: relative;
  width: 251px;
  height: 43px;
  margin-right: -4px;
}

.category-page .text-wrapper-12 {
  position: absolute;
  top: 24px;
  left: 37px;
  font-family: "Satoshi-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.category-page .text-wrapper-13 {
  position: absolute;
  top: 24px;
  left: 179px;
  font-family: "Satoshi-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.category-page .overlap-group-wrapper {
  position: absolute;
  width: 247px;
  height: 20px;
  top: 0;
  left: 0;
}

.category-page .overlap-group-2 {
  position: relative;
  height: 20px;
}

.category-page .rectangle-2 {
  position: absolute;
  width: 247px;
  height: 6px;
  top: 8px;
  left: 0;
  background-color: #efefef;
  border-radius: 20px;
}

.category-page .rectangle-3 {
  position: absolute;
  width: 150px;
  height: 6px;
  top: 8px;
  left: 43px;
  background-color: #000000;
  border-radius: 20px;
}

.category-page .ellipse {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 41px;
  background-color: #000000;
  border-radius: 10px;
}

.category-page .ellipse-2 {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 187px;
  background-color: #000000;
  border-radius: 10px;
}

.category-page .frame-22 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.category-page .frame-23 {
  display: flex;
  width: 247px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex: 0 0 auto;
}

.category-page .group-3 {
  position: relative;
  width: 37px;
  height: 37px;
  background-color: #00c12a;
  border-radius: 18.5px;
  border: 2px solid;
  border-color: #00000033;
}

.category-page .ellipse-3 {
  position: relative;
  width: 37px;
  height: 37px;
  background-color: #f50505;
  border-radius: 18.5px;
  border: 1px solid;
  border-color: #00000033;
}

.category-page .ellipse-4 {
  position: relative;
  width: 37px;
  height: 37px;
  background-color: #f5dd05;
  border-radius: 18.5px;
  border: 1px solid;
  border-color: #00000033;
}

.category-page .ellipse-5 {
  background-color: #f57805;
  position: relative;
  width: 37px;
  height: 37px;
  border-radius: 18.5px;
  border: 1px solid;
  border-color: #00000033;
}

.category-page .ellipse-6 {
  background-color: #05c9f5;
  border: 1px solid;
  border-color: #00000033;
  position: relative;
  width: 37px;
  height: 37px;
  border-radius: 18.5px;
}

.category-page .frame-wrapper {
  position: relative;
  width: 37px;
  height: 37px;
  background-color: #053af5;
  border-radius: 18.5px;
  border: 2px solid;
  border-color: #00000033;
}

.category-page .frame-24 {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 8px;
  left: 8px;
}

.category-page .ellipse-7 {
  position: relative;
  width: 37px;
  height: 37px;
  background-color: #7d05f5;
  border-radius: 18.5px;
  border: 1px solid;
  border-color: #00000033;
}

.category-page .ellipse-8 {
  position: relative;
  width: 37px;
  height: 37px;
  background-color: #f505a3;
  border-radius: 18.5px;
  border: 1px solid;
  border-color: #00000033;
}

.category-page .ellipse-9 {
  background-color: #ffffff;
  position: relative;
  width: 37px;
  height: 37px;
  border-radius: 18.5px;
  border: 1px solid;
  border-color: #00000033;
}

.category-page .ellipse-10 {
  background-color: #000000;
  position: relative;
  width: 37px;
  height: 37px;
  border-radius: 18.5px;
}

.category-page .frame-25 {
  display: flex;
  flex-wrap: wrap;
  width: 247px;
  align-items: flex-start;
  gap: 8px 8px;
  position: relative;
  flex: 0 0 auto;
}

.category-page .frame-26 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 10px 20px;
  position: relative;
  flex: 0 0 auto;
  background-color: #efefef;
  border-radius: 62px;
  overflow: hidden;
}

.category-page .text-wrapper-14 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Satoshi-Regular", Helvetica;
  font-weight: 400;
  color: #00000099;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.category-page .frame-27 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 10px 20px;
  position: relative;
  flex: 0 0 auto;
  background-color: #000000;
  border-radius: 62px;
  overflow: hidden;
}

.category-page .text-wrapper-15 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Satoshi-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.category-page .frame-28 {
  display: flex;
  height: 48px;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 16px 54px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #000000;
  border-radius: 62px;
  overflow: hidden;
}

.category-page .text-wrapper-16 {
  position: relative;
  width: fit-content;
  margin-top: -2.5px;
  margin-bottom: -0.5px;
  font-family: "Satoshi-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.category-page .text-wrapper-17 {
  position: absolute;
  height: 43px;
  top: 203px;
  left: 415px;
  font-family: "Satoshi-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.category-page .frame-29 {
  display: inline-flex;
  align-items: center;
  gap: 13px;
  position: absolute;
  top: 612px;
  left: 415px;
}

.category-page .frame-30 {
  display: inline-flex;
  align-items: flex-start;
  gap: 5.31px;
  position: relative;
  flex: 0 0 auto;
}

.category-page .star {
  position: relative;
  width: 17.58px;
  height: 16.72px;
}

.category-page .star-2 {
  position: relative;
  width: 8.79px;
  height: 16.72px;
}

.category-page .element-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Satoshi-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.category-page .text-wrapper-18 {
  color: #000000;
}

.category-page .frame-31 {
  display: inline-flex;
  align-items: center;
  gap: 13px;
  position: absolute;
  top: 612px;
  left: 730px;
}

.category-page .frame-32 {
  display: inline-flex;
  align-items: center;
  gap: 13px;
  position: absolute;
  top: 612px;
  left: 1045px;
}

.category-page .image-wrapper {
  position: absolute;
  width: 295px;
  height: 298px;
  top: 263px;
  left: 415px;
  background-color: #f0eeed;
  border-radius: 20px;
  overflow: hidden;
}

.category-page .image {
  position: absolute;
  width: 294px;
  height: 298px;
  top: 0;
  left: 1px;
  object-fit: cover;
}

.category-page .img-wrapper {
  position: absolute;
  width: 295px;
  height: 298px;
  top: 263px;
  left: 730px;
  background-color: #f0eeed;
  border-radius: 20px;
  overflow: hidden;
}

.category-page .image-2 {
  position: absolute;
  width: 295px;
  height: 298px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.category-page .frame-33 {
  position: absolute;
  width: 295px;
  height: 298px;
  top: 263px;
  left: 1045px;
  background-color: #f0eeed;
  border-radius: 20px;
  overflow: hidden;
}

.category-page .text-wrapper-19 {
  position: absolute;
  height: 27px;
  top: 576px;
  left: 415px;
  font-family: "Satoshi-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.category-page .text-wrapper-20 {
  position: absolute;
  height: 27px;
  top: 576px;
  left: 730px;
  font-family: "Satoshi-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.category-page .text-wrapper-21 {
  position: absolute;
  height: 27px;
  top: 576px;
  left: 1045px;
  font-family: "Satoshi-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.category-page .frame-34 {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 639px;
  left: 1045px;
}

.category-page .text-wrapper-22 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Satoshi-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.category-page .text-wrapper-23 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Satoshi-Bold", Helvetica;
  font-weight: 700;
  color: #00000066;
  font-size: 24px;
  text-decoration: line-through;
  letter-spacing: 0;
  line-height: normal;
}

.category-page .frame-35 {
  width: 58px;
  padding: 6px 14px;
  background-color: #ff33331a;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  position: relative;
  border-radius: 62px;
  overflow: hidden;
}

.category-page .text-wrapper-24 {
  margin-left: -1px;
  margin-right: -1px;
  color: #ff3333;
  font-size: 12px;
  line-height: normal;
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Satoshi-Medium", Helvetica;
  font-weight: 500;
  letter-spacing: 0;
}

.category-page .text-wrapper-25 {
  position: absolute;
  height: 32px;
  top: 638px;
  left: 415px;
  font-family: "Satoshi-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.category-page .text-wrapper-26 {
  position: absolute;
  height: 32px;
  top: 638px;
  left: 730px;
  font-family: "Satoshi-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.category-page .group-4 {
  position: absolute;
  width: 933px;
  height: 408px;
  top: 707px;
  left: 416px;
}

.category-page .frame-36 {
  display: inline-flex;
  align-items: center;
  gap: 13px;
  position: absolute;
  top: 349px;
  left: 0;
}

.category-page .frame-37 {
  display: inline-flex;
  gap: 13px;
  top: 349px;
  left: 315px;
  align-items: center;
  position: absolute;
}

.category-page .frame-38 {
  display: inline-flex;
  align-items: center;
  gap: 13px;
  position: absolute;
  top: 349px;
  left: 630px;
}

.category-page .frame-39 {
  position: absolute;
  width: 295px;
  height: 298px;
  top: 0;
  left: 0;
  background-color: #f0eeed;
  border-radius: 20px;
  overflow: hidden;
}

.category-page .image-3 {
  position: absolute;
  width: 268px;
  height: 298px;
  top: 0;
  left: 14px;
  object-fit: cover;
}

.category-page .frame-40 {
  position: absolute;
  width: 295px;
  height: 298px;
  top: 0;
  left: 315px;
  background-color: #f0eeed;
  border-radius: 20px;
  overflow: hidden;
}

.category-page .frame-41 {
  position: absolute;
  width: 295px;
  height: 298px;
  top: 0;
  left: 630px;
  background-color: #f0eeed;
  border-radius: 20px;
  overflow: hidden;
}

.category-page .div-2 {
  position: absolute;
  height: 27px;
  top: 314px;
  left: 0;
  font-family: "Satoshi-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.category-page .text-wrapper-27 {
  font-family: "Satoshi-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
}

.category-page .div-3 {
  position: absolute;
  height: 27px;
  top: 314px;
  left: 315px;
  font-family: "Satoshi-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.category-page .div-4 {
  position: absolute;
  height: 27px;
  top: 314px;
  left: 630px;
  font-family: "Satoshi-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.category-page .frame-42 {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 376px;
  left: 630px;
}

.category-page .frame-43 {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 376px;
  left: 0;
}

.category-page .text-wrapper-28 {
  margin-left: -0.5px;
  margin-right: -0.5px;
  color: #ff3333;
  font-size: 12px;
  line-height: normal;
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Satoshi-Medium", Helvetica;
  font-weight: 500;
  letter-spacing: 0;
}

.category-page .text-wrapper-29 {
  position: absolute;
  height: 32px;
  top: 376px;
  left: 315px;
  font-family: "Satoshi-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.category-page .group-5 {
  position: absolute;
  width: 939px;
  height: 408px;
  top: 1151px;
  left: 415px;
}

.category-page .frame-44 {
  display: flex;
  width: 58px;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 6px 14px;
  position: absolute;
  top: 378px;
  left: 131px;
  background-color: #ff33331a;
  border-radius: 62px;
  overflow: hidden;
}

.category-page .text-wrapper-30 {
  position: absolute;
  height: 32px;
  top: 376px;
  left: 0;
  font-family: "Satoshi-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.category-page .text-wrapper-31 {
  position: absolute;
  height: 32px;
  top: 376px;
  left: 63px;
  font-family: "Satoshi-Bold", Helvetica;
  font-weight: 700;
  color: #00000066;
  font-size: 24px;
  text-decoration: line-through;
  letter-spacing: 0;
  line-height: normal;
}

.category-page .text-wrapper-32 {
  position: absolute;
  height: 32px;
  top: 376px;
  left: 630px;
  font-family: "Satoshi-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.category-page .frame-45 {
  display: inline-flex;
  align-items: center;
  gap: 216px;
  position: absolute;
  top: 1611px;
  left: 415px;
}

.category-page .button {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
  border-radius: 8px;
}

.category-page .button-base {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px 14px;
  position: relative;
  flex: 0 0 auto;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid;
  border-color: #0000001a;
}

.category-page .img-2 {
  position: relative;
  width: 20px;
  height: 20px;
}

.category-page .text {
  color: #000000;
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Satoshi-Medium", Helvetica;
  font-weight: 500;
  letter-spacing: 0;
}

.category-page .pagination-numbers {
  display: inline-flex;
  align-items: flex-start;
  gap: 2px;
  position: relative;
  flex: 0 0 auto;
}

.category-page .pagination-number {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #0000000f;
  border-radius: 8px;
  overflow: hidden;
}

.category-page .content {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  padding: 12px;
  position: relative;
  border-radius: 8px;
}

.category-page .number {
  position: relative;
  width: fit-content;
  margin-top: -3px;
  margin-bottom: -1px;
  font-family: "Satoshi-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.category-page .content-wrapper {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  overflow: hidden;
}

.category-page .number-2 {
  position: relative;
  width: fit-content;
  margin-top: -3px;
  margin-bottom: -1px;
  font-family: "Satoshi-Medium", Helvetica;
  font-weight: 500;
  color: #00000080;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}
